$themes: (
  default: ("body-bg": #e5e5e5,
    // NOTE tried to update default values -Tiff
    // "primary": #3ba5dc,
    // "secondary": #8392ab,
    "primary": #263A29,
    "secondary": #41644A,
    "success": #00f867,
    "info": #5d0149,
    "warning": #fbcf33,
    "danger": #ea0606,
    // "light": #e9ecef,
    "light": #F2E3DB,
    "dark": #111927,
    "grey": #cbcbcb,
    "orange": #E86A33,
    "sand": #F2E3DB,
    "oliveGreen": #5f7656,
    "lightGreen": #41644A,
    "darkGreen": #263A29,
    "DarkOrange": #f1510d,
  ),
  dark: ("body-bg": #090f18,
    // NOTE tried to update default values -Tiff
    // "primary": #3ba5dc,
    // "secondary": #8392ab,
    "primary": #263A29,
    "secondary": #41644A,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    // "light": #ebeef1,
    "light": #F2E3DB,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));