@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";


// GEO-STACH CUSTOM AND UTIL CLASSES
:root {
  --UltraDrkGreen: #233527ce;
  --DrkGreen: #263A29;
  --Green: #41644A;
  --MdLghtGreen: #41644a7b;
  --LghtGreen: #b8c9bc;
  --DrkOrange: #f1510d;
  --Orange: #E86A33;
  --LghtOrange: #eca586;
  --Yellow: #FFD700;
  --Sand: #d6cec2;

}

/* Background color classes */
.bg-Sand {
  background-color: var(--Sand);
}

.bg-Green {
  background-color: var(--Green);
}

.bg-DrkGreen {
  background-color: var(--DrkGreen);
}

.bg-Orange {
  background-color: var(--Orange);
}

.bg-LghtOrange {
  background-color: var(--LghtOrange);
}

.bg-DrkGreen {
  background-color: var(--DrkGreen);
}

.bg-MdLghtGreen {
  background-color: var(--MdLghtGreen);
}

.bg-LghtGreen {
  background-color: var(--LghtGreen);
}

.bg-Yellow {
  background-color: var(--Yellow);
}

/* Text color classes */
.txt-Sand {
  color: var(--Sand) !important;
}

.txt-LghtGreen {
  color: var(--LghtGreen);
}

.txt-Green {
  color: var(--Green);
}

.txt-DrkGreen {
  color: var(--DrkGreen) !important;
}

.txt-UltraDrkGreen {
  color: var(--UltraDrkGreen) !important;
}

.txt-Orange {
  color: var(--Orange);
}

.txt-LghtOrange {
  color: var(--LghtOrange);
}

.txt-Yellow {
  color: var(--Yellow);
}

/* Font type classes */
.fnt-Cabin {
  font-family: 'Cabin', sans-serif !important;
}

.divider {
  height: 3em;
}

// .profile-pic {
//   height: 30px;
//   width: 30px;
//   object-fit: cover;
//   object-position: center;
//   border-radius: 50em;
// }

.geo-shadow {
  border-radius: 10px;
  /* width: 100%; */
  /* object-fit: cover;
  object-position: center; */
  box-shadow: 0 3px 3px -1px rgba(43, 43, 43, 0.85),
    0 5px 6px 0 rgba(43, 43, 43, 0.79),
    0 1px 8px 0 rgba(43, 43, 43, 0.79);
}

.acc-dets {
  background-color: yellow;
  padding: 20px;
  display: none;
}

// img {
//   max-width: 300px;
//   border-radius: 25%;
// }








body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}